__pycache__/
data/results/
weights/Zaxis/
weights/oblique1/
weights/oblique2/
data/NG_data_A/1GP*
data/NG_data_B/1GP*
data/OK_data/1GP*
data/OK_data1/1GP*
data/OK_data2/1GP*
data/OK_data3/1GP*
data/OK_data4/1GP*
data/sample_test_data_png/1GP*
data/sample_test_data_tif/1GP*