__pycache__/
data/results/
weights/Zaxis/
weights/oblique1/
weights/oblique2/
data/NG_data_A/1GP*
data/NG_data_B/1GP*
data/OK_data/1GP*
data/OK_data1/1GP*
data/OK_data2/1GP*
data/OK_data3/1GP*
data/OK_data4/1GP*
data/OK_data5/1GP*
data/OK_data6/1GP*
data/OK_data7/1GP*
data/OK_data8/1GP*
data/OK_data9/1GP*
data/OK_data10/1GP*
data/OK_data11/1GP*
data/OK_data12/1GP*
data/OK_data13/1GP*
data/OK_data14/1GP*
data/OK_data15/1GP*
data/OK_data16/1GP*
data/OK_data17/1GP*
data/OK_data18/1GP*
data/OK_data19/1GP*
data/OK_data20/1GP*
data/NG_data_A1/1GP*
data/NG_data_A2/1GP*
data/NG_data_A3/1GP*
data/NG_data_A4/1GP*
data/NG_data_A5/1GP*
data/NG_data_A6/1GP*
data/NG_data_B1/1GP*
data/NG_data_B2/1GP*
data/NG_data_B3/1GP*
data/NG_data_B4/1GP*
data/NG_data_B5/1GP*
data/NG_data_B6/1GP*
data/NG_data_extra/1GP*
data/sample_test_data_png/1GP*
data/sample_test_data_tif/1GP*